 <?xml version="1.0" encoding="UTF-8" ?>
    <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace = "com.example.bankingsystem_dbconnection.repository.MyBatisAccountRepository">
    <insert id="createAccount" parameterType="Account">
        INSERT INTO accounts (name, surname, email, tc, type, balance, last_update_date, is_deleted)
        VALUES (#{name}, #{surname}, #{email}, #{tc}, #{type}, 0.0, #{lastUpdated}, 0)
    </insert>
    <select id="getAccountById" parameterType="int" resultType="Account" >
    		SELECT * FROM accounts WHERE id= #{id}
    </select>
    <update id="updateAccount" parameterType="Account">
        UPDATE accounts SET balance = #{balance}, last_update_date = #{lastUpdated} WHERE id = #{id}
    </update>
    
     <update id="deleteAccount" parameterType="Account">
        UPDATE accounts SET balance = #{balance}, last_update_date = #{lastUpdated}, is_deleted = #{isDeleted} WHERE id = #{id}
    </update>
    
    	
    </mapper>	